/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #f5c518;
  --primary-color: #000000;
  --base-color: #eee7e7;
  --text-light: #ffffff;

  --primary-font: "Times New Roman", serif;
  --secondary-font: helvetica, arial, sans-serif;

  --font-size-title: 32px;
  --font-size-subtitle: 20px;
  --font-size-h3: 25px;
  --font-size-text: 12px;
  --font-size-img: 10px;

  --line-size: 400px;
  --line-height: 1.6;
}

body {
  background-color: var(--base-color);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--base-color);
}

.logo img {
  width: auto;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a,
.menupunkt {
  display: block;
  padding: 10px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

/* WORK MENU DROPDOWN */
summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.work-dropdown {
  position: relative;
}

.work-menu {
  margin-top: 10px;
}

.work-menu a {
  font-weight: normal;
  font-size: 16px;
}

/* hero imgs styling */
.herosection1 img {
  width: 100%;
  max-width: none;
  display: block;
}

.title-section h1 {
  font-family: var(--secondary-font);
  font-size: var(--font-size-title);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.title-section h2 {
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 24px;
  color: var(--accent);
  margin-bottom: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 20px;
  background-color: var(--base-color);
  margin-bottom: 40px;
}

.footer-logo {
  width: auto;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer h3 {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 20px;
  margin-left: 5px;
}
.footer p,
.footer a {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
  margin: 2px;
}

.socials_footer {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.socials_footer img {
  width: 23px;
  height: 23px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 23px;
}

.mail-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
}

.divider {
  height: 2px;
  background-color: #000000;
  margin: 0.1rem;
}
/* media query for skærme på 800px eller mindre */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: var(--base-color);
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--base-color);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }
}

/* media query for skærme på 801px eller større */
@media (min-width: 801px) {
  .menu {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }

  .burger {
    display: none;
  }

  /* WORK MENU DROPDOWN DESKTOP */
  .work-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--base-color);
    padding: 10px;
    min-width: 240px;
  }

  .work-menu a:hover,
  .menupunkt:hover,
  .projects,
  footer a:hover,
  footer p:hover {
    color: #ffd000;
    text-decoration: underline;
  }
}
